@import './flex.scss';

div[page] {
    width: 100%;
    height: calc(100vh - 32px - 32px);
}

div[content] {
    width: 100%;
    height: calc(100% - 60px);
}

div[note],
span[note] {
    color: #ccc;
}

.bg-white {
    background-color: #ffffff;
}

span[btn] {
    font-size: 18px;
}

span[btn]:active {
    transform: translate(1px, 1px);
}
::ng-deep nz-date-picker[field],z-input-number[field]{
    width: 100%;
}

.fields_group_li .justify-end {
    span[nz-icon]+span[nz-icon] {
        margin-left: 14px;
    }
}

.sticky {
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 6;
}

a[control] {
    color: blue;
}

/* 滚动条样式 */
/* 宽度高度 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* 背景色 */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* 滑块样式 */
::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 50px;
}

.ant-input-number[field],
.ant-picker[field] {
    width: 100%;
}

.ant-form-item {
    margin-bottom: 0;
}

.selecttable{
    width: 100%;
    text-align: center;

    tr,th{
        td{
            padding: 5px;
            // button{
            //     margin: 0 auto;
                
            // }
        }
    }

}
/*页头设置*/
.ant-page-header{
    padding: 10px 15px !important;
    border-radius: 6px;
}


/* 模态框设置 */
::ng-deep .newFroupForm .ant-modal-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

::ng-deep .ant-form-item[search] {
    margin-bottom: 0;
}

