
<div class="container mb-5">
    <div class="row mt-5 wow animate__fadeInUp animate__animated">
        <div class="col-md-3">
            <h3 class="fw-bold">
                卖车，很省心
            </h3>
            <p class="lead mb-3">
                好车不和坏车一起卖好车卖好价
            </p>
            <a class="btn btn-outline-primary rounded-pill chevron-right-animate mb-5" asp-page="SaleUsedCar/Index">我要卖车</a>
        </div>
        <div class="col-md-9">

            <div class="row row-cols-1 row-cols-md-2 gx-5 gy-3">

                <div class="d-flex flex-row mb-3">
                    <div class="p-2 text-primary"><i class="fa fa-language fs-3" aria-hidden="true"></i></div>
                    <div class="p-2">
                        <h4>
                            当天拿钱
                        </h4>
                        <p class="text-muted">
                            验车现场最高可收全部车款，在线快速预约
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-3">
                    <div class="p-2 text-primary"><i class="fa fa-puzzle-piece fs-3" aria-hidden="true"></i></div>
                    <div class="p-2">
                        <h4>
                            高价卖车
                        </h4>
                        <p class="text-muted">
                            平台推荐买家，获取更高报价，全程无骚扰、不用奔波
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-3">
                    <div class="p-2 text-primary"><i class="fa fa-magic fs-3" aria-hidden="true"></i></div>
                    <div class="p-2">
                        <h4>
                            省时省心
                        </h4>
                        <p class="text-muted">
                            交易手续代办，车辆过户不操心，由我们为您全程代办
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-3">
                    <div class="p-2 text-primary"><i class="fa fa-lightbulb-o fs-3" aria-hidden="true"></i></div>
                    <div class="p-2">
                        <h4>
                            免费上门评估
                        </h4>
                        <p class="text-muted">
                            评估检测完全免费，也不赚差价，中间不收取任何费用
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>