@page
@using Microsoft.Extensions.Localization
@using Dignite.CarMarketplace.Localization
@using Dignite.CarMarketplace.Web.Pages.CarMarketplace
@model Dignite.CarMarketplace.Web.Pages.CarMarketplace.IndexModel
@inject IStringLocalizer<CarMarketplaceResource> L

@{
}
<h1>CarMarketplace</h1>
<p>@L["SamplePageMessage"]</p>
