@page
@model Dignite.CarMarketplace.Web.Pages.CarMarketplace.IndexModel
@{
    ViewBag.FluidLayout = true;
}
@section styles {
    <abp-style src="/Pages/CarMarketplace/Shared/Styles/CarMarketplace.css" />
}
<div class="home-search">
    <partial name="_HomeSearchSection.cshtml">
</div>
<partial name="./UsedCars/_Popular.cshtml">
<partial name="_HomeSaleUsedCar.cshtml">
<partial name="./Dealers/_Popular.cshtml">
