@using Dignite.CarMarketplace.Public.UsedCars
@model UsedCarDto
@{
    var menuItems = new string[]
    {
    "基本信息","车辆详情","配置参数"
    };
}
<nav class="navbar navbar-light bg-white bg-opacity-75 border-bottom navbar-expand-lg sticky-top">
    <div class="container">
        <div class="navbar-brand order-0 text-wrap w-50">@Model.Name</div>
        <div class="collapse navbar-collapse justify-content-end order-2 order-md-1" id="page-navbar-collapse">
            <ul class="navbar-nav">
                @foreach (var item in menuItems)
                {
                    <li class="nav-item" id="MenuItem_OfficialWebsite_Work">
                        <a class="nav-link mx-3 px-0 text-dark underline-animate underline-animate-dark" href="#@item">
                            @item
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="navbar-toolbars order-1 order-md-2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" name="btnReserve" data-id="@Model.Id" class="btn btn-sm btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#BuyUsedCarModal"><i class="fa fa-coffee" aria-hidden="true"></i> 预约看车</button>
                    <button type="button" class="btn btn-sm btn-outline-primary rounded-pill border-primary-subtle ms-2 dropdown-toggle d-lg-none" data-bs-toggle="collapse" data-bs-target="#page-navbar-collapse" aria-controls="page-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>