<div class="container">
    <div class="p-5 text-center">
      <div class="d-inline-block bg-success text-white p-1 h5 rounded mb-4" role="alert">
        <h5 class="m-1">
          <i class="fas fa-rocket" aria-hidden="true"></i> Congratulations, <strong>Yuantong</strong> is
          successfully running!
        </h5>
      </div>
      <h1>欢迎使用远通二手车市场管理平台</h1>
  
      <p class="lead px-lg-5 mx-lg-5">{{ '::LongWelcomeMessage' | abpLocalization }}</p>
  
      <a *ngIf="!hasLoggedIn" (click)="login()" class="px-4 btn btn-primary ms-1" role="button"><i class="fa fa-sign-in"
          aria-hidden="true"></i> {{ 'AbpAccount::Login' | abpLocalization }}</a>
    </div>
  </div>