$group_head: 50px;
$borderBottomColor: #00000020;

.site_box {
    padding-top: 6px;

    .site_content {
        flex: 4;
        height: 100%;
        width: 100%;
        border: 1px solid $borderBottomColor;
        background-color: #ffffff;
        border-radius: 6px;
        overflow-x: auto;

        .site_search {
            width: 100%;

            .search-box {
                min-height: 56px;
                padding: 10px 15px;
                border-bottom: 1px solid $borderBottomColor;

                .search-box-content {
                    width: 100%;
                    flex-wrap: wrap;
                    display: flex;
                    align-items: center;
                }

                .search-box-item {
                    // width: 40%;
                    width: 150px;
                    margin-right: 20px;
                }

              
            }
        }

        .site_table {
            width: 100%;
            height: calc(100%);
            overflow-x: auto;

            .pagination {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 8px 16px;
                position: sticky;
                bottom: 0;
                left: 0;
                background: #fff;
            }
        }
    }
}

::ng-deep.ant-table-thead{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 6;
}