@page
@using Dignite.CarMarketplace.Pages
@model IndexModel

<abp-card>
    <abp-card-header>Welcome</abp-card-header>
    <abp-card-body>
        <p>
            这是一套基于Abp开发的二手车平台，包含管理员端、二手车商管理端和网站端。
        </p>
        <h3>运行环境</h3>
        <ul>
            <li>Redis</li>
            <li>Dotnet sdk 7.0</li>
            <li>Abp 7.4.2</li>
        </ul>
        <a asp-page="/CarMarketplace/UsedCars/Index" class="btn btn-primary" role="button">体验二手车首页</a>
    </abp-card-body>
</abp-card>
